.metadata



### STS for admin-server ###
admin-server/.mvn
admin-server/.settings
admin-server/.classpath
admin-server/.gitattributes
admin-server/.project
admin-server/HELP.md
admin-server/mvnw
admin-server/mvnw.cmd
admin-server/target
admin-server/.factorypath
admin-server/src/main/resources/application.yaml


### STS for api-gateway###
api-gateway/.mvn
api-gateway/.settings
api-gateway/.classpath
api-gateway/.gitattributes
api-gateway/.project
api-gateway/HELP.md
api-gateway/mvnw
api-gateway/mvnw.cmd
api-gateway/target
api-gateway/.factorypath
api-gateway/src/main/resources/application.yaml


### STS for auth-service###
auth-service/.mvn
auth-service/.settings
auth-service/.classpath
auth-service/.gitattributes
auth-service/.project
auth-service/HELP.md
auth-service/mvnw
auth-service/mvnw.cmd
auth-service/src/main/resources/application.yaml
auth-service/target
auth-service/.factorypath


### STS for history-service###
history-service/.mvn
history-service/.settings
history-service/.classpath
history-service/.gitattributes
history-service/.project
history-service/HELP.md
history-service/mvnw
history-service/mvnw.cmd
history-service/src/main/resources/application.yaml
history-service/target
history-service/.factorypath


### STS for quantity-service###
quantity-service/.mvn
quantity-service/.settings
quantity-service/.classpath
quantity-service/.gitattributes
quantity-service/.project
quantity-service/HELP.md
quantity-service/mvnw
quantity-service/mvnw.cmd
quantity-service/src/main/resources/application.yaml
quantity-service/target
quantity-service/.factorypath


### STS for service-registry###
service-registry/.mvn
service-registry/.settings
service-registry/.classpath
service-registry/.gitattributes
service-registry/.project
service-registry/HELP.md
service-registry/mvnw
service-registry/mvnw.cmd
service-registry/target
service-registry/.factorypath
service-registry/src/main/resources/application.yaml


### STS for user-service###
user-service/.mvn
user-service/.settings
user-service/.classpath
user-service/.gitattributes
user-service/.project
user-service/HELP.md
user-service/mvnw
user-service/mvnw.cmd
user-service/src/main/resources/application.yaml
user-service/target
user-service/.factorypath
